<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            Study
        </h3>
        <p>
            Enter your message and I will play it for you.<br>
            <form action="/coder" method="post">
                Enter your message: <input type="text" name="message">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>